body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #19d7f8, #fd00da);
}

.techx-nav-right {
  border: 2px solid transparent;
  background-image:
    linear-gradient(#AFDBF5, #AFDBF5),
    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.techx-gradient-btn {
  color: black;
  border: none;
  background: linear-gradient(to right, #fd00da, #19d7f8);
}

.techx-nav-input {
  width: 120px;
}

.techx-toggler {
  border: 2px solid transparent;
  background-image:
    linear-gradient(#AFDBF5, #AFDBF5),
    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}